/*.App {
  background-image: url("map.png")
}*/
.mainIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainTwoIcon {
  display: flex;
  justify-content: space-around;
}
.mainIcon {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #98DB98;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  /*padding: 10px;*/
}
