.content {
	margin-left: auto;
	margin-right: auto;
	width: 20em;
	top: 75%;
	position: relative;
	padding-top: 50px;
}

.left-arrow {
	position: absolute;
	top: 90%;
	left: 10%;
}

.right-arrow {
	position: absolute;
	top: 90%;
	right: 10%;
}
